<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.ita.navigationdrawer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NavigationDrawer">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.NavigationDrawer.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".categorias"/>
        <activity android:name=".inicio1" />
        <activity
            android:name=".inicio"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.NavigationDrawer.NoActionBar" />
        <activity android:name=".tarjeta" />
        <activity android:name=".preferencias" />
        <activity android:name=".politica_priv" />
        <activity android:name=".metodo_pago" />
        <activity android:name=".login" />
        <activity android:name=".estado_compra" />
        <activity android:name=".devoluciones" />
        <activity android:name=".desc_productos" />
        <activity android:name=".agregar_productos" />
        <activity android:name=".ayuda" />
        <activity android:name=".carrito" />
    </application>

</manifest>